<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
      <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>
    </div>

  </div>
  <!-- widget grid -->
  <section id="widget-grid" class="">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-paper text-success"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">

                <div class="numbers">
                  <p class="card-category">总案件</p>
                  <p class="card-title" id="p1">
                    0
                  </p><p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-refresh"></i> 更新
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-check-2 text-warning"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">新立案</p>
                  <p class="card-title" id="p2">
                    0
                  </p><p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-calendar-o"></i> 更新
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-bulb-63 text-danger"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class=" card-category "><span class="text-danger">执行案件</span></p>
                  <p class="card-title" id="p3">
                    0
                  </p><p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-clock-o"></i> In the last hour
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-box-2 text-primary"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category ">归档案件</p>
                  <p class="card-title" id="p4">
                    0
                  </p><p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-refresh"></i> 更新
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <article class="col-sm-12">
        <!-- new widget -->
        <!-- end widget -->

      </article>
    </div>
    <!-- end row -->
    <!-- row -->

    <div class="row">

      <article class="col-sm-12 col-md-12 col-lg-12">


        <!-- new widget -->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-colorbutton="false">

          <!-- widget options:
          usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

          data-widget-colorbutton="false"
          data-widget-editbutton="false"
          data-widget-togglebutton="false"
          data-widget-deletebutton="false"
          data-widget-fullscreenbutton="false"
          data-widget-custombutton="false"
          data-widget-collapsed="true"
          data-widget-sortable="false"

          -->
          <header>
            <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
            <h2> 案件行事历 </h2>
            <div class="widget-toolbar">
              <!-- add: non-hidden - to disable auto hide -->
              <div class="btn-group">
                <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                  显示 <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu js-status-update pull-right">
                  <li>
                    <a href="javascript:void(0);" id="mt">按月</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" id="ag">详细</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" id="td">今天</a>
                  </li>
                </ul>
              </div>
            </div>
          </header>

          <!-- widget div-->
          <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">

              <input class="form-control" type="text">

            </div>
            <!-- end widget edit box -->

            <div class="widget-body no-padding">
              <!-- content goes here -->
              <div class="widget-body-toolbar">

                <div id="calendar-buttons">

                  <div class="btn-group">
                    <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
                    <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
              <div id="calendar"></div>

              <!-- end content -->
            </div>

          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->

      </article>



    </div>

    <!-- end row -->

  </section>
  <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
  <script src="~/Scripts/plugin/countup/countUp.min.js"></script>
  <script src="~/Scripts/plugin/fullcalendar/fullcalendar.min.js"></script>
  <script src="~/Scripts/plugin/fullcalendar/lang-all.js"></script>
  <script>

    $(document).ready(async function () {







      /*
      * FULL CALENDAR JS
      */

      let events = await $.get('/LegalCases/GetCalendarData');
      console.log(events);
      if ($("#calendar").length) {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var calendar = $('#calendar').fullCalendar({
          editable: true,
          draggable: true,
          selectable: false,
          selectHelper: true,
          unselectAuto: false,
          disableResizing: false,
          height: "auto",
          lang: 'zh-cn',
          header: {
            left: 'title', //,today
            center: 'prev, next, today',
            right: 'month, agendaWeek, agenDay' //month, agendaDay,
          },

          select: function (start, end, allDay) {
            var title = prompt('Event Title:');
            if (title) {
              calendar.fullCalendar('renderEvent',
                {
                  title: title,
                  start: start,
                  end: end,
                  allDay: allDay
                },
                true // make the event "stick"
              );
            }
            calendar.fullCalendar('unselect');
          },

          events: events,


          eventRender: function (event, element, icon) {
            if (!event.description == "") {
              element.find('.fc-title')
                .append("<br/><span class='ultra-light'>" + event.description + "</span>");
            }
            if (!event.icon == "") {
              element.find('.fc-title')
                .append("<i class='air air-top-right fa " + event.icon + " '></i>");
            }
          }
        });

      };

      /* hide default buttons */
      $('.fc-toolbar .fc-right, .fc-toolbar .fc-center').hide();

      // calendar prev
      $('#calendar-buttons #btn-prev').click(function () {
        $('.fc-prev-button').click();
        return false;
      });

      // calendar next
      $('#calendar-buttons #btn-next').click(function () {
        $('.fc-next-button').click();
        return false;
      });

      // calendar today
      $('#calendar-buttons #btn-today').click(function () {
        $('.fc-button-today').click();
        return false;
      });

      // calendar month
      $('#mt').click(function () {
        $('#calendar').fullCalendar('changeView', 'month');
      });

      // calendar agenda week
      $('#ag').click(function () {
        $('#calendar').fullCalendar('changeView', 'agendaWeek');
      });

      // calendar agenda day
      $('#td').click(function () {
        $('#calendar').fullCalendar('changeView', 'agendaDay');
      });

      /*
       * CHAT
       */



    });




    $(() => {

      const countUp1 = new CountUp('p1', @Dashboard.Instance.ALLCount(), { duration: 1 });
      if (!countUp1.error) {
        countUp1.start();
      } else {
        console.error(countUp1.error);
      }
      const countUp2 = new CountUp('p2', @Dashboard.Instance.S1Count(), { duration: 1 });
      if (!countUp2.error) {
        countUp2.start();
      } else {
        console.error(countUp2.error);
      }
      const countUp3 = new CountUp('p3', @Dashboard.Instance.S2Count(Auth.GetFullName()), { duration: 1 });
      if (!countUp3.error) {
        countUp3.start();
      } else {
        console.error(countUp3.error);
      }
      const countUp4 = new CountUp('p4', @Dashboard.Instance.S3Count(), { duration: 1 });
      if (!countUp4.error) {
        countUp4.start();
      } else {
        console.error(countUp4.error);
      }
    })
  </script>
}